{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc]}.

{provider_hooks, [
    {pre,  [{compile, {pc, compile}}]},
    {post, [{clean,   {pc, clean}}]}
]}.

{post_hooks, [
    {compile, "make priv/effi_port"}
]}.

{port_specs, [
    {"priv/effi_nif.so", ["c_src/effi_nif.c"]}
]}.

{port_env, [
    {"linux",  "CFLAGS",  "$CFLAGS -O2 -Wall -Wextra -std=c11 -fPIC -I/usr/lib64/libffi/include"},
    {"linux",  "LDFLAGS", "$LDFLAGS -lffi -ldl -lpthread"},
    {"darwin", "CFLAGS",  "$CFLAGS -O2 -Wall -Wextra -std=c11"},
    {"darwin", "LDFLAGS", "$LDFLAGS -lffi"}
]}.
