{erl_opts, [debug_info]}.
{deps, []}.

{plugins, [pc]}.

{provider_hooks, [
    {pre,  [{compile, {pc, compile}}]},
    {post, [{clean,   {pc, clean}}]}
]}.

{post_hooks, [
    {compile, "make priv/cffi_port"}
]}.

{port_specs, [
    {"priv/cffi_nif.so", ["c_src/cffi_nif.c"]}
]}.

{port_env, [
    {"linux",  "CFLAGS",  "$CFLAGS -O2 -Wall -Wextra -std=c11 -fPIC -I/usr/lib64/libffi/include"},
    {"linux",  "LDFLAGS", "$LDFLAGS -lffi -ldl -lpthread"},
    {"darwin", "CFLAGS",  "$CFLAGS -O2 -Wall -Wextra -std=c11"},
    {"darwin", "LDFLAGS", "$LDFLAGS -lffi"}
]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/longlene/cffi">>},
          {extras, [<<"README.md">>, <<"LICENSE.md">>]},
          {main, <<"readme">>}]}.

